* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    display: flex;
    height: 60px;
    background: #FE1A19;;
}

.hieroglyph {
    position: absolute;

    margin-left: 20px;
    margin-top: 20px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;

    color: #FFFFFF;
}

.container {
    padding: 50px 0;
    color: #fff;
    background-color: #FFD2D1;
    display: flex;
    justify-content: space-evenly;
}

p {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    
    color: #ffffff;
}

.recepie {

    background: radial-gradient(circle, rgba(9,9,121,0.7973783263305322) 0%, rgba(254,26,25,1) 85%);


    padding: 33px;
    box-sizing: border-box;

    width: 400px;
    height: 900px;

    border: 55px solid #ffffff;
    border-radius: 15px;

    justify-content: center;
    flex-wrap: wrap;  
    flex-direction: row;
    align-items: center;
}

.headline {
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
align-items: center;
}

.text {
    margin-top: 41px;
}