* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-container {
    position: absolute;
    height: 200px;
    width:100%;
    left: 0px;
    top: 0px;
    background: #E5E000; 
    display: flex;
    justify-content: flex-start;
}

.name {
    font-family: 'Helvetica';
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 10%;
}

.pic {
    max-width: 100%;
    height: auto;
}